<h1>
    Product Show Page
</h1>

<h3>
<%= @product.title%>
</h3>

<p>
<%= @product.description%>
</p>

<p>
<%= @product.price%>
</p>
<p>
<%= @product.created_at%>
</p>

<p>
<%= @product.updated_at%>
</p>

<h5>
    Created by: <%= @product.user.first_name + " " + @product.user.last_name %>
</h5>
<% if can?(:crud, @product)%>
<%= link_to("Delete", product_path(@product.id), method: :delete, data: {confirm: "Are you sure"}) %>

<%= link_to("Edit", edit_product_path(@product.id)) %>
<% end %>


<p>
<% if @favourite%>
  <%= link_to @favourite.is_favourite ? "Cancel Favourite" : "Cancel Unavourite", favourite_path(@favourite), class:"btn btn-light ", method: :delete%>
<% else%>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="true">
  <%= f.submit "Favourite", class:"btn btn-info" %>
  <% end %>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="false">
  <%= f.submit "Unfavourite", class:"btn btn-dark" %>
  <% end %>
<% end %>

<ul>
<% @reviews.each do |review| %>
    <li>
        <h5><%= review.rate%></h5>
        <%= review.body%>
        <small>
            Reviewed <%= time_ago_in_words(review.created_at) %> ago
        </small>

        <h5>
            reviewed by: <%= review.user.first_name + " " + review.user.last_name %>
        </h5>
        <% if can?(:crud, review)%>
        <%= link_to("Edit", edit_review_path(review.id)) %>

        <%# link_to("Update", edit_product_review_path(@product.id, review.id)) %>

        <%= link_to "Delete", product_review_path(@product.id, review.id), method: :delete, data:{confirm: "Are you sure"}  %>

         <% end %>

      <% if review.likes.find_by(user: current_user).present?  && can?(:destroy, review.likes.find_by(user: current_user)) %>
      <%= link_to(
        "Unlike",
        like_path(review.likes.find_by(user: current_user)), 
        class:"btn btn-danger ",
        method: :delete
        ) %>
      <% else can?(:like, review) %>
      <%= link_to(
              "Like",
              product_review_likes_path(@product,review),
              class:"btn btn-success ",
              method: :post
        ) %>
      <% end %>
      <small>
        (<%= pluralize(review.likes.count, "like") %>)
      </small>


    </li>
<% end %>
</ul>
<p>

<% if @review.errors.any? %>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
        <li> <%= msg%> </li>
    <% end%>
    </ul>
<% end%>

<%= form_with(model:[@product, @review]) do |f|%>
    <div>
        <%= f.label :rating%>
        <br>
        <%= f.text_field :rate, class:"form-text" , autofocus: true  %>
    </div>
    <div>
        <%= f.label :body%>
        <br>
        <%= f.text_area :body, cols: 50, rows: 5 %>
    </div>
    <%= f.submit "Review"%>
<% end %>

<p>

<a href="/products">Back to list</a>
